@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "M Plus Rounded 1c", serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: "M Plus Rounded 1c", serif;
  @apply leading-loose;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dela Gothic One", cursive;
  @apply mt-8 mb-4;
}

h1 {
  @apply text-2xl leading-10;
}

h2,
h3,
h4,
h5,
h6 {
  @apply text-xl;
}

h2:before {
  content: "## ";
  @apply text-sm;
}

h3:before {
  content: "### ";
  @apply text-sm;
}

h4:before {
  content: "#### ";
  @apply text-sm;
}

h5:before {
  content: "##### ";
  @apply text-sm;
}

p {
  @apply indent-3;
  @apply my-2;
}

a {
  @apply underline underline-offset-4;
  @apply decoration-dotted hover:decoration-solid;
}

img {
  @apply mx-auto;
  @apply object-cover max-w-2xl w-full h-full;
  @apply my-8 p-4;
  @apply border border-black;
}

/* rehype-starry-night */

pre {
  @apply whitespace-pre;
}

pre code {
  @apply overflow-x-auto;
}

:root {
  /* light theme variables specific to rehype-starry-night plugin */
  --highlight-background-color: hsl(0, 0%, 100%);
  --highlight-border-color: hsl(208, 21%, 86%);
  --highlight-code-highlight: hsl(208, 19%, 82%);
}

/* YouTube */
.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
