---
import { compareDesc, format } from "date-fns";

import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { slugToPath } from "../libs/blog";
import siteMeta from "../siteMeta";
import CalendarDays from "../components/icons/CalendarDays.astro";

const publishedBlogEntires = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
}).then((collection) => {
  return collection.sort((a, b) => {
    return compareDesc(a.data.created_at, b.data.created_at);
  });
});
---

<Layout title={siteMeta.siteName}>
  <main
    class="flex-grow
               mx-auto
               w-full
               max-w-3xl
               px-4 mb-12"
  >
    <h2>ブログ</h2>
    <ul>
      {
        publishedBlogEntires.map((blogPostEntry) => (
          <li class="flex mb-8 after:content-['']">
            <div>
              <div class="flex items-center">
                <CalendarDays />
                <div class="ml-1">
                  {format(blogPostEntry.data.created_at, "yyyy/MM/dd")}
                </div>
              </div>
              <a
                class="font-bold text-lg"
                href={`/blog/${slugToPath(blogPostEntry.slug)}`}
              >
                {blogPostEntry.data.title}
              </a>
            </div>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  li:before {
    content: "";
  }
</style>
