---
import siteMeta from "../siteMeta"

const {copyright} = siteMeta;
const { twitter } = siteMeta.social;
---

<footer class="w-auto mx-auto my-8 text-center">
  &copy; 2023 <a href={`https://twitter.com/${twitter}`}>{copyright}</a>
  Powered by <a href="https://astro.build/">Astro</a>
</footer>
