---
import "@fontsource/dela-gothic-one";
---

<header class="pt-8 mb-8">
  <div class="title grid justify-items-center items-center text-3xl">
    <a href="/">(Some)one</a>
  </div>
</header>

<style>
  .title {
    font-family: "Dela Gothic One", cursive;
  }

  a {
    @apply no-underline;
  }
</style>
