---
import "@fontsource/dela-gothic-one";
---

<header class="max-w-3xl mx-auto my-4 px-4 w-full">
  <div class="title text-2xl">
    <a href="/">(Some)one</a>
  </div>
</header>

<style>
  .title {
    font-family: "Dela Gothic One", cursive;
  }

  a {
    @apply no-underline;
  }
</style>
