---
import "../styles/global.css";

import "@microflash/rehype-starry-night/css";
import "@wooorm/starry-night/style/light";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "@fontsource/dela-gothic-one";
import "@fontsource/m-plus-rounded-1c";
import "@fontsource/m-plus-rounded-1c/700.css";
import "@fontsource/m-plus-rounded-1c/800.css";
import "@fontsource/noto-serif-jp";

import GoogleAnalytics from "../components/GoogleAnalytics.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css"
    />
    <GoogleAnalytics />
  </head>
  <body class="flex flex-col min-h-screen">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
