---
import "../styles/global.css";

import "@microflash/rehype-starry-night/css";
import "@wooorm/starry-night/style/light";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import GoogleFonts from "../components/GoogleFonts.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <GoogleFonts />
    <GoogleAnalytics />
  </head>
  <body class="flex flex-col min-h-screen">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
